@import "./../../../node_modules/bootstrap/scss/bootstrap";

@import "./variables";

@import "./../global/alert";

body {
    width: 100%;
    min-height: 100vh;
    background-color: $light;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    overflow: hidden;

    .header {
        display: flex;
        align-items: center;
        background-color: transparent;
        height: 75px;
        border-bottom: 1px solid $light;
    }

    .main {
        height: calc(100vh - (75px + 50px));
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark;
        height: 50px;
        color: $light;
        font-size: 0.785rem;
    }
}